/* General Rules */
html {
    margin: 0 auto;
    padding: 0;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

body {
    width: 80%;
    margin-left: 10%;
}

h2 {
    font-weight: 200;
    font-size: 2rem;
    text-align: center;
}

/* Header */

header {
    position: absolute;
    width: 100%;
    display: flex;
    height: 4rem;
    width: 80%;
    background-color: white; 
    top: 0;
    z-index: 5;
}

h1 {
    font-family: 'Tanker', sans-serif;
    font-size: 1.6rem;
    font-stretch: extra-expanded;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 0;
}

h1 a {
    color: orangered;
}

h1 a:hover {
    color: orangered;
}

nav ul {
    display: flex;
    width: 50%;
    justify-content:space-between;
    position: absolute;
    right: 0;
    top: 12px;
}

li {
    list-style-type: none;
}

nav ul li a {
    border: 3px solid rgba(255, 81, 0, 0.6);
    border-radius: 30px;
    padding: .5rem 1rem;
    box-shadow: 0 0 .1rem rgb(255, 81, 0);
    font-family: 'Telma', cursive;
    font-weight: 900;
}

nav ul a:hover {
    background-color: rgba(255, 98, 41, 0.993);
    color: rgb(255, 255, 255);
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(204, 36, 36);
    text-decoration: none;
}

.logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Main Section */
main {
    width: 100%;
}

.bandeau img {
    width: 100%;
}

    /*First Section - About Me*/
.about_me {   
    width: 100%;
    height: 100vh;
}

.div_one {
    position: relative;
    height: 90%;
}

        /*Right Side*/
.div_one aside {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 48%;
    height: 100%;
}

.div_one aside img {
    width: 100%;
    height: 100%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.div_one aside p {
    position: absolute;
    font-size: .6rem;
    color: rgb(255, 255, 255);
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

        /*Left Side*/
.div_one article {
    position: absolute;
    left: 0;
    width: 48%;
    height: 100%;
}

.div_one article .paragraph, .div_one article .card_container {
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgb(255, 254, 251);
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

            /*Left Side's Paragraph*/
.div_one article .paragraph {
    text-align: center;
    height: 44%;
    width: 90%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}            
            /*Left Side's Card*/
                /*colors and space*/
.pastel {
    color: rgb(124, 124, 253);
}

.blue {
    color: rgb(53, 225, 255);
}

.orange {
    color: rgb(196, 127, 0);
}

.indentation {
    margin-left: 1rem;
}

.space {
    margin-left: 0.5rem;
}
.div_one article .card_container {
    height: 54%;
    width: 100%;
    position: absolute;
    margin-top: 1%;
}

.div_one article .card {
    height: 12rem;
    width: 90%;
    position: relative;
    perspective: 150rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div_one article .card_side {
    color: white;
    background-color: #2c1d1d;
    position: absolute;
    border-radius: 15px;
    overflow: hidden;
    backface-visibility: hidden;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    margin: auto;
    transition: all 0.8s ease;
    width: 100%;
    height: 100%;
}

.div_one article .card_backside {
    transform: rotateY(180deg);
}

.card:hover .card_frontside {
    transform: rotateY(-180deg);
}

.card:hover .card_backside {
    transform: rotateY(0deg);
}

.card_front, .card_back {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card_front {
    font-size: 1.5rem;
}

.card_back {
    left: 55%;
    font-size: .7rem;
    line-height: 1.3rem;
    width: 90%;
}

/*Footer*/ 
footer {
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}



/*------- Contact Page --------*/
.contact {
    position: relative;
    top: 4rem;
    text-align: center;
}